{% extends 'base.html' %}
{% load tags %}
{% block title %}
    {{ genre.name }} - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% include 'include/_messages.html' %}
            <h3>{{ genre.name }}</h3>
            <p id="readable">{% get_field_name genre 'desc' %}: {{ genre.desc }}</p>
            <button onclick="read_readable()">Зачитай</button>

            <hr>
            {#            <a href="{% url 'add_to_cart' ct_model=ct_model slug=product.slug %}">#}
            {#                <button class="btn btn-danger">Добавить в корзину</button>#}
            {#            </a>#}
        </div>
        {#        <p class="mt-4">Характеристики:</p>#}
        {##}
        {#        {{ product|product_spec }}#}

    </div>

{% endblock %}
