{% extends 'base.html' %}
{% block title %}
    Полезная информация - {{ block.super }}
{% endblock %}

{% block content %}
    {% include 'include/_messages.html' %}
    <div class="row">
        <div class="col-md-8">
            <h2>Полезная информация</h2>
            <p>Если часто будете заказывать книги именно у нас, то станете постоянным клиентом и получите скидку.</p>
            <p>Можете также связаться с нами и после многочисленных проверок Вы сможете стать элитным клиентом. Что это
                вам даст знают только элитные клиенты.</p>
        </div>
    </div>




{% endblock %}
